* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    /* display: none; */
}

.elem {
    width: 100%;
    height: 15%;
    border-bottom: 2px solid wheat;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding-left: 10px;
}

.elem h3 {
    z-index: 9;
    color: cornsilk;
    mix-blend-mode: difference;
}

h3::selection {
    background-color: darkslategrey;
    color: wheat;
}

.elem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
}